.row.mb-4
    .col
        .row
            .col
                header.text-muted.small.text-uppercase My press nepenthe an.
                h5 My scarce black radiant ever i agreeing him
                div.smallLeft.text-muted Many and my was door then nothing curtain that moment, i sinking shore gloated whispered. Long is some soul from.
                p 
                div.small Lamplight is expressing the the the of.
        .row
            .col.text-muted
                div.small Floor a door nearly.
            .col-2
                img.translucent(src="../images/bookmark-outline.png", alt="")
                img.translucent(src="../images/dots-horizontal.png", alt="")
    .col-lg-4
        img(src="../images/fillmurray/150x150cage.jpg")

.row.mb-4
    .col
        .row
            .col
                header.text-muted.small.text-uppercase And sad discourse once stopped but my merely,.
                h5 Sadipscing est sit
                div.smallLeft.text-muted Many and my was door then nothing curtain that moment, i sinking shore gloated whispered. Long is some soul from.
                p 
                div.small Lamplight is expressing the the the of.
        .row
            .col.text-muted
                div.small Floor a door nearly.
            .col-2
                img.translucent(src="../images/bookmark-outline.png", alt="")
                img.translucent(src="../images/dots-horizontal.png", alt="")
    .col-lg-4
        img(src="../images/fillmurray/150x150.jpg")

//- .row.mb-4
//-     .col
//-         .row
//-             .col
//-                 header.text-muted.small.text-uppercase My press nepenthe an.
//-                 h5 Sadipscing est sit
//-                 div.smallLeft Many and my was door then nothing curtain that moment, i sinking shore gloated whispered. Long is some soul from.
//-                 p 
//-                 div.small Lamplight is expressing the the the of.
//-         .row
//-             .col.text-muted
//-                 div.small Floor a door nearly.
//-             .col-2
//-                 img.translucent(src="../images/bookmark-outline.png", alt="")
//-                 img.translucent(src="../images/dots-horizontal.png", alt="")
//-     .col-lg-4
//-         img(src="../images/fillmurray/150.jpg")

