.row.mb-3
    .col
        header.text-muted.small Perched master had at footfalls.
        h5 Sought no bird still i mystery, meant dream madam fowl.
        p.small Hope on that within sought from a,.
    .col-lg-4
        img(src="../images/fillmurray/100x100.jpg")
.row.mb-3
    .col
        .row
            .col
                header.text-muted.small My press nepenthe an.
                h5 Sadipscing est sit
                p.small Feuchten fort um.
        .row

    .col-lg-4
        img(src="../images/fillmurray/100x100cage.jpg")
.row.mb-3
    .col
        h5 Sadipscing est sit
        p.small That chamber that flutter tossed sinking, back my this ghastly the bird still lattice. Aptly me this never door rare.
    .col-lg-4
        img(src="../images/fillmurray/100x100.jpg")
