.row.rightSideImg
    .col
        div.rightAdHeader New from your network
    .col
        img(src="../images/woman.png", alt="")
.row.mt-4.infoRight
   .col-2
        img.roundIcons(src="../images/fillmurray/50x50.jpg")
   .col
        div.topHeaderRight The black with more
        div.midTextRight A than into a fancy a sad 
        div.bottomTextRight And with beast.	&#9733;
.row.mt-4.infoRight
   .col-2
        img.roundIcons(src="../images/fillmurray/50x50cage.jpg")
   .col
        div.topHeaderRight Door marvelled and and the me my
        div.midTextRight  Linking shore sitting unto was by if door hauntedtell.    
        div.bottomTextRight And with beast.	&#9733;

.row.mt-4.infoRight
   .col-2
        img.roundIcons(src="../images/fillmurray/50x50.jpg")
   .col
        div.topHeaderRight The black with more
        div.midTextRight A than into a fancy a sad 
        div.bottomTextRight And with beast.	&#9733;
.row.mt-4.infoRight
   .col-2
        img.roundIcons(src="../images/fillmurray/50x50cage.jpg")
   .col
        div.topHeaderRight Door marvelled and and the me my
        div.midTextRight  Linking shore sitting unto was by if door hauntedtell.    
        div.bottomTextRight And with beast.	&#9733;

.row.mt-4.infoRight
   .col-2
        img.roundIcons(src="../images/fillmurray/50x50.jpg")
   .col
        div.topHeaderRight The black with more
        div.midTextRight A than into a fancy a sad 
        div.bottomTextRight And with beast.	&#9733;
.row.mt-4.infoRight
   .col-2
        img.roundIcons(src="../images/fillmurray/50x50cage.jpg")
   .col
        div.topHeaderRight Door marvelled and and the me my
        div.midTextRight  Linking shore sitting unto was by if door hauntedtell.    
        div.bottomTextRight And with beast.	&#9733;

