.row.rightSideImg
    .col
        p New from your network
    .col
        img(src="../images/woman.png", alt="")
.row
   .col
        img.roundIcons(src="../images/fillmurray/40x40.jpg")
   .col
        header.right The black with more
        p A than into a fancy a sad

