.row
nav.navbar.navbar-expand-lg.navbar-light
 
    .col
        p.navbar.logo Medium
    .col.text-right
        img.translucent(src="../images/magnify.png", alt="")
        input(type="text" name="search" placeholder="Search..")
        span.svgIcon.svgIcon--search.svgIcon--25px.u-baseColor--iconLight
        img.bell(src="../images/bell-outline.png")
        button.btn.btn-outline-secondary Upgrade
        img(src="../images/headIcon.png")
div.container.navbar.navbar-expand-lg.navbar-light
    ul.navbar-nav.align-items-center.align-items-center
        li.nav-item.active.navbar-brand
            a.nav-link(href="") Home
        li.nav-item.navbar-brand
            a.nav-link(href="") Helle.
        li.nav-item.navbar-brand
            a.nav-link(href="") Helle.
        li.nav-item.navbar-brand
            a.nav-link(href="") Helle.
        li.nav-item.navbar-brand
            a.nav-link(href="") DONOR.
        li.nav-item.navbar-brand
            a.nav-link(href="") Lorem
        li.nav-item.navbar-brand
            a.nav-link(href="") ipson
        li.nav-item
            a.nav-link(href="") Helle.
        li.nav-item
            a.nav-link(href="") Helle.
        li.nav-item
            a.nav-link(href="") Helle.