nav.navbar.navbar-expand-lg.navbar-light
 
    .col
        p.navbar.logo Medium
    .col.text-right
        span.svgIcon.svgIcon--search.svgIcon--25px.u-baseColor--iconLight
        img.bell(src="../images/bell-outline.png")
        button.btn.btn-outline-secondary Upgrade
        img(src="../images/headIcon.png")
header.navbar.navbar-expand-lg.navbar-light.col-lg-12
    ul.navbar-nav
        li.nav-item.active 
            a.nav-link(href="") Home
        li.nav-item
            a.nav-link(href="") Helle.
        li.nav-item
            a.nav-link(href="") Helle.
        li.nav-item
            a.nav-link(href="") Helle.
        li.nav-item
            a.nav-link(href="") DONOR.
        li.nav-item
            a.nav-link(href="") Lorem
        li.nav-item
            a.nav-link(href="") ipson
        li.nav-item
            a.nav-link(href="") Helle.
        li.nav-item
            a.nav-link(href="") Helle.
        li.nav-item
            a.nav-link(href="") Helle.