.row
    .col-lg-2
        img(src="../images/fillmurray/50x50.jpg")
    .col
        h5 Sadipscing est sit
        p.small Feuchten fort um.
.row
    .col-lg-2
        img(src="../images/fillmurray/50x50.jpg")
    .col
        h5 Sadipscing est sit
        p.small Feuchten fort um.
.row
    .col-lg-2
        img(src="../images/fillmurray/50x50.jpg")
    .col
        h5 Sadipscing est sit
        p.small Feuchten fort um.
