$playfair: 'Playfair Display, serif';
$Roboto: 'Roboto, sans-serif';
$Ubuntu: 'Ubuntu, sans-serif';
$font-family: 'Oxygen, sans-serif';
$mainLogo: rgba(0, 0, 0, .45);
$webBackground: white;
$rounder: 50%;
@mixin rounded {
    border-radius: $rounder;
}

.logo {
    // color: $mainLogo;
    font-family: $playfair;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.2px;
}

;
body {
    padding: 10px;
    margin: 0 20px;
}

.rightSideImg img {
    height: 100px;
    // float: right;
    // right: 0;
}

.bottom {
    vertical-align: bottom !important;
    text-align: left;
    margin: 0;
    padding: 0;
}

.rightSideImg {
    text-align: right;
    background-color: rgb(214, 238, 238);
}

//From W3 school Altered
input[type=text] {
    width: 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input {
    border: none;
}

input::placeholder {
    font-size: 13px;
}


/* When the input field gets focus, change its width to 100% */

input[type=text]:focus {
    width: 30%;
}

.roundIcons {
    @include rounded;
    border: 1px solid turquoise;
}

// .infoRight header {
//     font-size: 16px;
//     font-weight: 600;
//     // margin-bottom: -3;
// }
// .infoRight p {
//     font-size: 14px;
//     margin: 0;
//     padding: 0;
// }
.rightAdHeader {
    vertical-align: baseline;
    padding-top: 20%;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    padding-left: 10px;
    line-height: 1;
}

.topHeaderRight {
    font-size: 17px;
    font-weight: 600;
}

.midTextRight {
    font-size: 14px;
}

.bottomTextRight {
    font-size: 12px;
    color: #808080
}

.topHeaderRight {
    font-size: 20px;
}

.toptextRight {
    font-size: 15px;
}

.botTextRight {}

@import "partials/nav.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// @import 'material-ui/core/Input';