nav img {
    border-radius: 50%;
    margin-left: 20px;
}

.bell {
    margin-right: 20px;
    color: rbga(0, 0, 0, .45);
    opacity: 0.45;
    filter: alpha(opacity=45);
}

.nav-item a {
    text-transform: uppercase;
    font-size: 14px;
}